name: Deploy Backend

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build Docker image
        run: docker build -t aurait/backend-demo:latest .

      - name: Push Docker image
        run: docker push aurait/backend-demo:latest

      - name: Deploy to Kubernetes
        run: |
        kubectl set image deployment/backend-demo \
        backend-demo=aurait/backend-demo:latest
        kubectl rollout status deployment/backend-demo
